RewriteEngine On
RewriteBase /

# Règles pour accéder à index.php avec la langue correcte
RewriteRule ^fr/?$ /index.php?lang=fr [L,QSA]
RewriteRule ^de/?$ /index.php?lang=de [L,QSA]
RewriteRule ^en/?$ /index.php?lang=en [L,QSA]

# Redirection des URLs vers le fichier PHP correspondant
RewriteRule ^(fr|en|de)/legal/?$ /pages/legal.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/lunarplay/?$ /pages/lunarplay.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/solaris/?$ /pages/solaris.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/aetheria/?$ /pages/aetheria.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/cryos/?$ /pages/cryos.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/aqualis/?$ /pages/aqualis.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/elythium/?$ /pages/elythium.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/goliathor/?$ /pages/goliathor.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/ignisfera/?$ /pages/ignisfera.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/lunara/?$ /pages/lunara.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/nereidia/?$ /pages/nereidia.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/rhodaria/?$ /pages/rhodaria.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en|de)/ringuara/?$ /pages/ringuara.php?lang=$1 [L,QSA]

# Bloque l'accès aux fichiers .htaccess et .htpasswd
<Files ".ht*">
    Require all denied
</Files>

# Bloquer l'accès au fichier .env
<Files ".env">
    Require all denied
</Files>

<IfModule mod_headers.c>
Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://cdn.datatables.net https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.7/b-3.1.2/b-html5-3.1.2/r-3.0.3/datatables.min.css; img-src 'self' data: https:; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; frame-src 'self'; frame-ancestors 'none'; upgrade-insecure-requests;"
</IfModule>