:root {
  --color-text: #dddbdb;
  --color-yellow: #EFE364;
  --color-red: #E28DBB;
  --color-black: #28384C;
  --color-orange: #FABD56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: var(--color-text);
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
  cursor: url('/assets/img/cur1054.cur'), default;
}

.container-progress-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.936);
}

.container-progress-bar label,
.container-progress-bar #progress-bar-value {
  padding-bottom: 0.3rem;
  font-size: 2rem;
  text-shadow: 0 2px 2px #000000;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  text-align: center;
}

.container-progress-bar progress {
  width: 16rem;
  max-width: 100%;
}

.container-progress-bar #progress-bar-value {
  font-weight: 800;
  color: var(--color-red);
}

.planet-info {
  z-index: 1000; 
  position: absolute;
  left: 0;
  right: 0;
  margin: 2rem auto; 
  max-width: 80vw; 
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-text);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(239, 227, 100, 0.6);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  max-height: 80%;
  overflow: auto;
}

.planet-info.hidden {
  display: none;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  cursor: url('/assets/img/cur1051.cur'), pointer;
  transition: background-color 0.3s ease-in-out;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
}

.button.hidden {
  display: none;
}

.button:hover {
  background-color: var(--color-orange);
  transform: scale(1.1);
  animation: hoverButton 0.3s ease-in-out
}

@keyframes hoverButton {
  0% {
    transform: scale(1.1);
  }
  99% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}

.description-1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: start;
}

.description-2 {
  margin-bottom: 3rem;
  text-align: start;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer p {
  text-align: center;
}

.planet-hover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  color: var(--color-text);
  text-transform: uppercase;
}

.link {
  color: var(--color-yellow);
  text-decoration: none;
  text-transform: uppercase;
  cursor: url('/assets/img/cur1051.cur'), pointer;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--color-orange);
}

/* Pour les appareils dont la largeur est inférieure ou égale à 1024px (laptop) */
@media (max-width: 1024px) {
  .planet-info {
    max-width: 90vw;
  }
}

/* Pour les appareils dont la largeur est inférieure ou égale à 768px (tablettes et mobiles) */
@media (max-width: 768px) {
  .planet-info {
    max-width: 90vw;
  }

  .footer {
    font-size: 0.8rem; 
  }

  .container-progress-bar label,
  .container-progress-bar #progress-bar-value {
    font-size: 1.5rem; /* Réduire la taille de la police sur mobile */
  }

  .container-progress-bar progress {
    width: 80%; /* Réduire la largeur de la barre de progression sur mobile */
  }

  .container-progress-bar {
    padding: 10px;
  }
}

/* Pour les petits appareils, largeur inférieure ou égale à 480px */
@media (max-width: 480px) {
  .planet-info {
    max-width: 90vw;
  }

  .footer {
    font-size: 0.7rem; 
  }
}